/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body {
  background: #000;
  color: #fff;
}
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 480px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

header {
    /*background: #1D1C1C;
    padding: 15px 0;
    display: block;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    border: 0;
    outline: 0;
    vertical-align: top;*/
    background-color:#000; color:#fff;position: relative;padding: 12px;
}
header:after{
	content:'';
	background:url(../images/bg-1.png) repeat-x;
	height:12px;
	width:100%;
	left:0;
	bottom:-12px;
	position:absolute;
	z-index: 9999;
}
.logo {
    display: inline-block;
}

.logo img {
    display: inline-block;
    max-width: 250px;
}

.main-text {
  /*font-family: 'UnifrakturMaguntia', cursive;*/
  /*font-family: 'Shojumaru', cursive;*/
  /*font-family: 'Vast Shadow', cursive;*/
  /*font-family: 'Croissant One', cursive;*/
  /*font-family: 'Julee', cursive;*/
  font-family: 'Miltonian Tattoo', cursive;
  color: #000;
  font-size: 98px;
}
.main-message {
  /*font-family: 'UnifrakturMaguntia', cursive;*/
  /*font-family: 'Shojumaru', cursive;*/
  /*font-family: 'Vast Shadow', cursive;*/
  /*font-family: 'Croissant One', cursive;*/
  font-family: 'Julee', cursive;
  /*font-family: 'Miltonian Tattoo', cursive;*/
  color: #000;
}

.main-button {
  background: #5A0000;
}
.para-main, .para-sub {
  font-family: 'Julee', cursive;
}
.para-msg
{
  font-family: 'Vast Shadow', cursive;
}
.para-main {
  font-size: 4.64rem;
}
.para-sub {
  font-size: 40px;
}
